/*
 * Copyright (c) 2013 by Gerrit Grunwald
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.air-compass {
    -outer-frame-color: gray;
    -frame-color      : radial-gradient(center 50% 50%, radius 50%, black 0%, black 90%, #454547 94%, gray 95%, #454547 100%);    
    -background-color : radial-gradient(center 50% 50%, radius 50%, #999999 0%, #333333 90%); 
    -frame-width      : 10;    
}
.air-compass .frame {
    -fx-background-radius: 1024;
    -fx-background-insets: 0, 1, 5, 25;
    -fx-background-color : rgb(132, 132, 132),
                           linear-gradient(from 85% 15% to 15% 85%,
                                           rgb(83,83,83) 0%,
                                           rgb(254,254,255) 8%,
                                           rgb(0,0,0) 52%,
                                           rgb(5,6,5) 55%,
                                           rgb(248,250,249) 84%,
                                           rgb(83,83,83) 99%),
                           linear-gradient(to bottom,
                                           rgb(255,255,255) 10%,
                                           rgb(81,81,81) 48%,
                                           rgb(57,57,57) 48%,
                                           rgb(13,13,13) 100%),
                           linear-gradient(from 80% 20% to 20% 80%,
                                           rgb(172,172,173) 0%,
                                           rgb(254,254,255) 8%,
                                           rgb(0,0,0) 52%,
                                           rgb(5,6,5) 55%,
                                           rgb(248,250,249) 91%,
                                           rgb(178,178,178) 99%);    
}
.air-compass .background {
    -fx-background-radius: 1024;
    -fx-background-color : -background-color;    
    -fx-effect           : innershadow(two-pass-box, rgba(0, 0, 0, 0.65), 20, 0, 0, 20);
}
.air-compass .center-knob {
    -fx-background-radius: 1024;
    -fx-background-color : linear-gradient(to bottom, #b4b4b4 0%, #3f3f3f 46%, #282828 100%),
                           linear-gradient(to bottom, #393939 0%, #4f4f4f 100%);
    -fx-background-insets: 0, 2;
    -fx-effect           : dropshadow(two-pass-box, rgba(0, 0, 0, 0.65), 5, 0, 0, 5);
}
